<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EmoExpressor</title>
    <style type="text/css">
        #intro{
            position: relative;
            left:8%;
            top: 30px;
            font-size: 19px;
            color: blue;
        }
        .return{
            font-size:20px;
            color:blue;
            position: absolute;
            left:20%;
            top:62%;
        }
    </style>
</head>
<body>
    <div class="intro">
        <p id="intro">You look {{ var1  }}</p>
        <p id="intro">{{ var2  }}</p>
    </div>
    <a class = 'return' href="">return</a>
</body>
