<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EmoExpressor</title>
    <style>
      .img-container {
        text-align: center;
      }
    </style>
</head>
<body>
<h1 align="center">EmoExpressor</h1>
<div class="img-container"> 
  <img src="logo.png">
</div>
<h3 align="center">When you are ready, click the button below!</h3>
<p align="center">EmoExpressor is an emoji recommender based on your real-time facial emotion. After you click the bottom below, your front camera will be used to detect your emotion, and it will automatically give you emoji recommendations based on your current mood!</p>
<div align="center" style="margin-top: 40px;">
    <form name="form1"  method="POST">
        <!-- A=<input type="text" placeholder="该函数的幅度" name="attitude" value="{{ var1  }}"> -->
        <!-- f=<input type="text" placeholder="该函数的频率" name="frequency" value="{{ var2  }}">
        x最小值=<input type="text" placeholder="x轴的最小值" name="xmin" value="{{ var3  }}">
        x最大值=<input type="text" placeholder="x轴的最大值" name="xmax" value="{{ var4  }}"> -->
        <input type="submit" value="start" οnclick="">
    </form>
</div>
</body>
