<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正弦函数y=Asin(2pifx)</title>
</head>
<body>
<h2 align="center">正弦函数y=Asin(2&pi;fx)</h1>
<h3 align="center">请输入幅度A，频率f，以及x对应的范围:</h3>
<div align="center" style="margin-top: 40px;">
    <form name="form1"  method="POST">
        <!-- A=<input type="text" placeholder="该函数的幅度" name="attitude" value="{{ var1  }}"> -->
        <!-- f=<input type="text" placeholder="该函数的频率" name="frequency" value="{{ var2  }}">
        x最小值=<input type="text" placeholder="x轴的最小值" name="xmin" value="{{ var3  }}">
        x最大值=<input type="text" placeholder="x轴的最大值" name="xmax" value="{{ var4  }}"> -->
        <input type="submit" value="计算" οnclick="">
    </form>
</div>
</body>